.trails-hero {
  padding: 4rem 0 3rem;
}

.trails-hero .container {
  max-width: 960px;
  margin: 0 auto;
}

.trail-lead {
  margin: 0 auto;
  max-width: 48ch;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}

.trails-hero h2 {
  font-size: 1.5rem;
  color: var(--color-text-light);
}

.trails-hero p {
  font-size: 1.15rem;
  line-height: 1.8;
  color: var(--color-text-light);
  max-width: 840px;
  margin: 2rem auto 0;
  text-align: center;
}
